
@import "./scss/base/reset";
@import "./scss/abstracts/mixins","./scss/abstracts/variables";
@import "./scss/pages/about","./scss/pages/contacts","./scss/pages/home","./scss/pages/projects";
@import "./scss/components/footer","./scss/components/nav","./scss/components/response";


@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);


body{
    font-family: $font-family;
    line-height: 1;
    color: $text-color;
    background-color: $primary-color;
    height: 100vh;
}

a{
    text-decoration: none;
    color: $text-color;
}

h1,h2,h3{
    font-weight: 400;
}